*{
text-decoration: none;

}
.header {
width: 100%;
padding: 32px 0;
}

.navbar {
width: 620px;
margin: 32px auto;
}

.link-wrapper {
display: inline-block;
margin-right: 72px;
}

.link-red {;
width: 68px;
height: 27px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;
}
.link-wrapper:nth-child(3) {
    margin-right: 50px;
}
.link-wrapper:last-child{
    margin-right: 0;
}

.background {
width: auto;
height: 789px;
background-color: dimgrey;
background-image: url(png.png);
background-size: cover;
}

.text-tittle {
    text-align: center;
}

.tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;


    
}

.text{
ffont-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
margin-top: 28;
box-sizing: border-box;
}

.buttom{
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 66px auto;

}

.footer {
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
margin-top: 82px;
margin: 105px ;
text-align: right;
}